<%= form_tag web_users_path, method: :post, class: "form-horizontal validate sical-form sical-form-validated" do %>

  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= label_tag :Nombre %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= text_field_tag('user[first_name]', "", class: "form-control") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= label_tag :Apellidos %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= text_field_tag('user[last_name]', "", class: "form-control") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= label_tag :Correo %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= text_field_tag('user[email]', "", class: "form-control") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= label_tag :Password %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= password_field_tag('user[password]', "", class: "form-control") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= label_tag :Telefono %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= telephone_field('user[phone]', "", class: "form-control only-numbers") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-fom-label">
      <%= label_tag :Sexo %>
    </div>
    <div class="col-md-9 input-wrapper">
      <%= select_tag 'user[gender]', options_for_select([ "male", "female" ], "male") %>
    </div>
  </div>
  <div class="sical-form-buttons">
    <div class="text-center">
      <%= link_to "Cancelar", web_users_path, class: "btn btn-primary sical-btn-cancel" %>
      <%= submit_tag "Guardar", class: "btn btn-primary sical-submit-btn" %>
  </div>
</div>
<% end %>

